<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.razorpay.razorpay_flutter">
    <application>
        <activity
                android:name="com.razorpay.CheckoutActivity"
                android:label="Razorpay Checkout" >
        </activity>
        <receiver android:name="com.razorpay.RzpTokenReceiver" >
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
